*{
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
    box-sizing: border-box;
    line-height: 1.4;
    text-decoration: none;
}
html{
    scroll-padding-top: 4rem;
}
body{
    background-color: #3d415a;
}
/*nav styles*/
.logo{
    display: flex;
    align-items: center;
}
.max-width{
    max-width: 1500px;
    padding: 0 50px;
    margin: auto;
    overflow-x: hidden;
}
nav{
    position: fixed;
    width: 100%;
    padding: 2px 0;
    z-index: 1;
    background-color: #192231;
}

nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list li{
    list-style-type: none;
    display: inline-block;
}   

nav ul li a{
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
    background-color: #192231;
    margin-left: 25px;
}
nav ul li a:hover{
    color: #A3D1FF;
    transform: scale(1.1);
    text-shadow:2px 3px 5px rgba(0,0,0,0.5);
    transition: all 500ms ease-in-out;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    transition: all .3s ease-in-out;
    background-color: #fff;
    margin: 5px auto;
}

/*above the fold section (Home)*/

.home h1{
    text-align: center;
    font-size: 4.375rem;
    color: #A3D1FF;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin-top: 4rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    min-height: 100vh;
}
.home-content p{
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.btn{
    background-color: transparent;
    padding: 18px 32px;
    border: 2px solid #A3D1FF;
    transition: all 500ms;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
}
.btn:hover{
    color: #192231;
    background-color: #A3D1FF;
    font-weight: 900;
}

/*about me section*/
.about-content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}
.about-me-text{
    margin-right: 3rem;
}
h3{
    text-align: center;
    color: #A3D1FF;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    text-shadow:2px 3px 5px rgba(0,0,0,0.5);
}
.about-me-text p, ul {
    color: #fff;
    font-size: 1.063rem;
    text-align: center;
}
.about-me-text li{
    list-style-position: inside;
    list-style-type: circle;
}

/*all h2 styles*/
h2{
    margin: 40px auto;
    text-align: center;
    font-size: 2.188rem;
    color:#A3D1FF;
    text-shadow:2px 3px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
	align-items: center;
}

/*projects section*/
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 17px 0;
}
.project-text{
    display: flex;
    width: 48%;
    min-height: 100px;
    padding: 10px;
    margin-left: -140px;
    background-color: #192231;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
}
.project-image, .project-image1, .project-image2, .project-image3{
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-size: cover;
    border: 3px solid #192231;
}
.project p, ul{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.063rem;
    list-style-position: none;
}
.projects li{
    display: inline;
}
.btn-container-2{
    background-color: #192231;
    padding: 10px 25px;
    font-size: .938rem;
    margin: 10px;
    border: 2px solid #A3D1FF;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.btn-container-2:hover{
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}
/*contact me section*/

.contact-section p{
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    margin-top: 2%;
    margin-bottom: 15px;
}
footer{
    padding: 20px;
    background-color: #192231;
}

/*scroll back to top function*/
#btnScrollToTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #A3D1FF;
	color: #192231;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	border: none;
	cursor: pointer;
}
#btnScrollToTop:hover{
	transform: scale(1.1);
}

/*smaller devices*/

@media screen and (max-width: 806px){
    .hamburger{
        display: block;
        color: #fff;
        background-color: #192231;
        cursor: pointer;
        border: none;
    }
    .bar{
        border-radius: 10px;
    }
    nav .nav-list{
        position: fixed;
        left: -100%;
        height: 100%;
        top: 2.275em;
        width: 100%;
        background: #192231;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        gap: 3.5em;
    }
    nav ul li a{
        font-size: 1.3em;
        margin-left: 0;
    }
    .nav-list.active{
        left: 0;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .home h1{
        font-size: 4rem;
    }
	.home-content p, .contact-section p{
        font-size: 1.063em;
    }
    .btn{
        padding: 15px 30px;
    }
   .home{
       height: 100vh;
   }
    h2:before, h2:after{
        display: none;
    }
    .about-content-container{
        flex-direction: column;
    }
    .about-me-text{
        margin-right: 0;
    }
    .image-column img{
        width: 100%;
    }
    .project{
        display: flex;
        flex-direction: column;
        margin: 2em 0;
    }
   
    .project-text{
        width:90%;
        margin: 0;
        margin-top: -85px;
    }
    .project-image, .project-image1, .project-image2, .project-image3{
        width: 100%;
    }
}
@media screen and (min-width: 807px) and (max-width: 1025px){
    .about-content-container{
        flex-direction: column;
    }
}


